<!doctype html>
<html lang="zh-hant"  ng-app="page" scroll>
<head>
	<meta charset="UTF-8">
	<title>貧窮人的台北</title>
	<!-- <link rel="stylesheet" href="css/skeleton.css"> -->
   <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://code.angularjs.org/snapshot/angular.min.js"></script>
    <script src="https://code.angularjs.org/snapshot/angular-sanitize.min.js"></script>
    <script src="https://code.angularjs.org/snapshot/angular-animate.min.js"></script>
<!--    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-animate.js"></script>-->
    <script src="https://cdn.rawgit.com/showdownjs/showdown/develop/dist/showdown.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.5/jquery.fullpage.min.css" rel="stylesheet"  />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.5/jquery.fullpage.js"></script>
	  <link rel="stylesheet" href="css/style.css">
    <meta name="description" content="這是一個希望消除貧窮的聯合倡議行動，透過看見、聆聽、體驗、團結，有系統的認識貧窮，一起解決貧窮的問題而不是解決貧窮的人。"/>
  <meta property="og:url" content="https://doyouaflavor.github.io/inadequate2017/" />
    <meta property="og:type"               content="website" />
    <meta property="og:title" content="貧窮人的台北" />
    <meta property="og:description" content="這是一個希望消除貧窮的聯合倡議行動，透過看見、聆聽、體驗、團結，有系統的認識貧窮，一起解決貧窮的問題而不是解決貧窮的人。" />
    <meta property="og:image"  content="https://doyouaflavor.github.io/inadequate2017/img/banner-03.jpg" />
    <meta property="fb:app_id"  content="144111119374573" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50648405-17', 'auto');
  ga('send', 'pageview');

</script>
</head>

<body  ng-controller="MgCtrl as ctl">
<div class="bg-video-wrapper">
  <div id="bg-video"></div>
  <div class="page-bg" data-page="2" style="background-image: url(img/sec2_bg.jpg);opacity: 0;"></div>
  <div class="page-bg" data-page="3" style="background-image: url(img/sec3_bg.jpg);opacity: 0;"></div>
  <div class="page-bg" data-page="4" style="background-image: url(img/sec4_bg.jpg);opacity: 0;"></div>
  <div class="page-bg" data-page="5" style="background-image: url(img/sec5_bg.jpg);opacity: 0;"></div>
</div>
<main>
<header class="section">
  <div class="header-4am img-wrapper"><img src="img/main_4am.png" alt=""></div>    
  <div class="header-text-block">
    <div class="header-line header-line-left"><img src="img/main_bar_left.png" alt=""></div>
    <div class="header-text"><img src="img/main_small-text.png" alt="凌晨四點，你未看過的台北　和台北人"></div>
    <div class="header-line header-line-right"><img src="img/main_bar_right.png" alt=""></div>
  </div>
  <div class="header-word img-wrapper"><img src="img/logo.png" alt=""></div>
</header>
<div id="intro" class="section intro-section">
  <h2>{{intro.name}}</h2>
  <div class="intro-section-content section-content" ng-bind-html="intro.content">
    
  </div>

</div>
<div id="article" class="section article-section" >
  <div class="article-section-inner section-inner">
    <h2>{{article.name}}</h2>
    <div class="article-section-content section-content" ng-bind-html="article.content">
    
    </div>
    <a href="{{article.link}}" class="cta">手刀購票</a>
    
  </div>

</div>
<div class="section section-slide">
  <div ng-repeat="item in slides" id="slide-item-{{$index}}" class="slide-item slide">
    <h2>{{item.name}}</h2>
    <div ng-bind-html="item.content" class="slide-content section-content"></div>
  </div>
</div>
<div class="section action-section">
  <h2>系列活動</h2>
  <div class="action-section-inner">
     <div ng-repeat="item in actions" id="action-section-{{$index}}" class="action-item">
      <h3 class="action-title">{{item.name}}</h3>
      <a href="{{item.link}}" class="action-info">
        <img src="{{item.img}}" alt="">
        <div class="action-title-info-wrapper">
          <div ng-bind-html="item.content" class="action-content"></div>
        </div>
      </a>
    </div>
  </div>
 </div>
</div>
<div class="product-section section">
  <h2>紀念商品</h2>
  <div class="product-content-wrapper">
    <div class="product-item" ng-repeat="item in products" >
      <a target="_blank" href="{{item.link}}" ng-click="clickGA('product:'+item.name)">
        <div class="product-content">
          <div class="product-label">紀念商品</div>
          <div class="product-dollar">NT. {{item.dollar}}</div>
          <h3>{{item.name}}</h3>
          <div ng-bind-html="item.description" class="product-description"></div>
          <div class="product-img-wrapper">
            <img src="{{item.img}}" alt="{{item.name}}" class="product-img">
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="member-section section">
  <h2>合作團隊</h2>
  <div class="member-content-wrapper">
    <div class="member-content" ng-repeat="item in members" >
      <h3>{{item.name}}</h3>
      <div ng-bind-html="item.content"></div>
      
    </div>
  </div>
  <footer>
    Copyright © 2018 向貧窮學習行動聯盟
  </footer>
</div>

</main>



<script src="js/script.js"></script>
<script src="js/youtube_bg.js"></script>

</body>
</html>